.background .text {
    padding-left: 1vw;
    padding-right: 1vw;
}

.background h1 {
    font-family: var(--highlightedtext);
}

.background section {
    font-size: var(--textsize);
}

.background section li{
    margin-top: 2vh;
}

.vertical-timeline-element-title {
    font-size: 28px !important;
    font-weight: bolder !important;
    font-family: var(--highlightedtext) !important;
}

.vertical-timeline-element-subtitle {
    font-size: 25px !important;
    font-family: var(--highlightedtext) !important;
}

.vertical-timeline-element-date {
    font-size: 25px !important;
}