.teaching {
    font-size: var(--textsize);
}

.teaching figure {
    text-align: center;
}

.teaching img{
    width: 80%;
}

.teaching figcaption {
    font-size: large;
}

@media (max-width: 1024px){
    .teaching img {
        width: 100%;
    }

    .teaching {
        font-size: 25px;
    }
}