.teaching {
    font-size: var(--textsize);
}

.teaching .text {
    padding-left: 1vw;
    padding-right: 1vw;
}

.teaching figure {
    text-align: center;
}

.teaching img{
    width: 80%;
}

.teaching figcaption {
    font-size: large;
}

.teaching #sales_pitch{
    text-align: center;
}

@media (max-width: 1024px){
    .teaching img {
        width: 100%;
    }

    .teaching figcaption {
        font-size: medium;
    }

    .teaching {
        font-size: 25px;
    }
}