@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.contact h1 {
    text-align: center;
    font-family: var(--highlightedtext);
    margin-top: 3px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form .input, [type="submit"], .secondButton{
    width: 90%;
    max-width: 500px;
    margin-bottom: 15px;
}


/* 
    source: https://codepen.io/ZachSaucier/pen/jOwNvO?editors=1100
    found on: freefrontend.com
*/
.contact .input {
    color:var(--textcolour);
    font-family: var(--placeholderfont);
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 20px;
    background-color: var(--fieldbackgroundcolour);
    border:1px solid var(--bordercolour);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;

    box-shadow: 2px 2px 5px 2px var(--bordercolour);
}

.contact .input:focus { 
    border:2px solid var(--focuscolour);
    box-shadow: 2px 2px 5px 2px var(--focuscolour);
}

.contact .input::placeholder {
    font-family: var(--placeholderfont);
    color: var(--placeholdertextcolour);
}

.contact textarea {
    height: 110px;
    line-height: 150%;
    resize:vertical;
}
     
[type="submit"], .secondButton {
    background-image: linear-gradient(to right, #fd746c 0%, #ff9068  51%, #fd746c  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

[type="submit"]:hover, .secondButton:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
 