 /* variables */

:root{
	--textcolour: black; /* TODO */
  --tilecolour: #eeaeca; /* TODO */
  --headercolour: #94bbe9; /* TODO */
  --normaltext: Arial, Helvetica, sans-serif; /* TODO */
  --highlightedtext: 'Times New Roman', Times, serif;  /* TODO */

  /* contact form */
  --bordercolour: black; /* TODO */
  --focuscolour: red; /* TODO */
  --fieldbackgroundcolour: lightgray; /* TODO */

  --submitcolour: blue; /* TODO */
  --submittextcolour: white; /* TODO */

  --placeholderfont: Arial, Helvetica, sans-serif; /* TODO */
  --placeholdertextcolour: grey; /* TODO */
}

/* needed for height to match viewport */
body, html {
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  color: var(--textcolour);
  padding: 0;
  font-family: var(--normaltext);
  position: relative;
  overflow-y: hidden;

  /*  from cssgradient.io */
  /* option 1
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  /* option 2 */
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
} 

body {
  margin: 0;
}

/* navbar design from: https://khuang159.medium.com/creating-a-hamburger-menu-in-react-f22e5ae442cb */
nav {
  background-color: var(--headercolour);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
}

.almostlogo {
  font-family: var(--highlightedtext);
  flex-grow: 2;
  padding-left: 30px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  float: right;
}

nav ul li {
  list-style-type: none;
  padding-right: 30px;
}

/* hamburger menu's burger icon */
.hamburger {
  display: none;
}
  

.navigator:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* tile styling */
.container {
  width: 100%;
  height: 80vh; /* = viewport - heightOfNavbar */

  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  background-color: var(--tilecolour);
  width: 60%;
  max-height: 75vh;
  margin-top: 5vh;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  overflow-y: auto; 
  scrollbar-width: none;
}

/* footer styling */
footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: smaller;
  text-align: center;
}

@media (max-width: 1024px){
  .hamburger{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;

    display: fixed;
    position: absolute;
    top: 2.5vh;
    left: 15px;
    z-index: 10;
  }

  .burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: var(--textcolour);
    transform-origin: 1px;
    transition: all 0.3s linear;
  }

  nav ul {
    background-color: var(--headercolour);
    height: 100vh;
    width: 50vw;
    top: 5vh;
    left: 0;
    padding-top: 20px;
    position: absolute;
    z-index: 10;
  }

  nav ul li {
    padding-bottom: 10px;
  }

  .almostlogo {
    text-align: center;
  }
}


