@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Great+Vibes&display=swap');

@import "tailwindcss";
@plugin "daisyui";

/* variables */

:root{
  --textsize: 30px;
	--textcolour: black;
  --tilecolour: #FFE5D9; /* FFE5D9 */
  --headercolour: #f07167; /* #f27e71 */
  --normaltext: "Caudex", serif;
  --highlightedtext: var(--normaltext);

  /* contact form */
  --bordercolour: black;
  --focuscolour: #ff9068;
  --fieldbackgroundcolour: white;

  --submitcolour: var(--headercolour);
  --submittextcolour: white;

  --placeholderfont: var(--normaltext);
  --placeholdertextcolour: grey;
}

/* needed for height to match viewport */
body, html {
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  color: var(--textcolour);
  padding: 0;
  font-family: var(--normaltext);
  position: relative;
  overflow: hidden;

  /*  used cssgradient.io */
  /*
  background: rgb(247,178,183);
  background: radial-gradient(circle, rgba(247,178,183,1) 51%, rgba(254,217,183,1) 100%);
  */
  background: rgb(254,211,178);
  background: linear-gradient(20deg, rgba(254,211,178,1) 8%, rgba(253,204,173,1) 32%, rgba(244,139,123,1) 80%);
} 

body {
  margin: 0;
}

/* to fix "Display zoom: Larger Text" issue on iphones */
h1 {
  font-size: 35px;
  line-height: 150%;
}

.hr {
  border-top: 3px solid var(--headercolour);
  padding-top: 0.83rem;
}

/* tile styling */
.mycontainer {
  width: 100%;
  height: 80vh; /* = viewport - heightOfNavbar */

  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  background-color: var(--tilecolour);
  width: 80%;
  max-height: 80vh;
  margin-top: 5vh;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  overflow-y: auto; 
  scrollbar-width: none;
}

/* footer styling */
footer {
  color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: x-small;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1024px){
  .mycontainer {
    padding-top: 1.6rem;
    align-items: flex-start;
  }
  
  .tile{
    width: 90%;
    max-height: 71vh;
    margin-top: -20px;
  }
}